@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-image: url("../image/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto; /* 添加这一行，确保垂直方向可以滚动 */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.article {
    flex: 1;
    overflow-y: auto; /* 确保文章内容可以滚动 */
}

.foot {
    background-color: rgba(44, 7, 84, 0.301);
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
    margin-top: 0;
}

.foot p {
    line-height: 10px;
    color: rgba(175, 151, 181, 0.814);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(91, 105, 136, 0.8);
}

::-webkit-scrollbar-track {
    background: rgb(194, 213, 241);
}