@charset "utf-8";
.mid{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    margin-left: 160px;
    
}

.joinpart {
    width: 1200px;
    height: 650px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-image: url("../image/join-bg.jpg");
    background-repeat: no-repeat;
    background-size: 1300px;
    overflow: hidden;
    opacity: 0.9;
    border-radius: 50px;
    animation: loadbac 1s linear;
    transition: 1s ease 0.2s;
}

.account {
    animation: loadbac 1s linear;
    transition: 1s ease 0.2s;
}

@keyframes loadbac{
    0%{
        opacity: 0;
        margin-top: 100px;
    }
    100%{
        opacity: 1;
        margin-top: 50px;
    }
}